@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.cdnfonts.com/css/roboto');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@300&family=Rubik+Iso&family=Yantramanav:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/blowbrush');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  
  --bg-blue-gradient2:linear-gradient(19deg, #061873 0%, #8410e6 100%);

}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}
.bg-blue-gradient2{
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--bg-blue-gradient2);
}
.cta-block {
  background: var(--bg-blue-gradient2);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}
.turquoise__gradient {
  background: linear-gradient(90deg, #c4ecf4 0%, #67b6fc 80%);
  filter: blur(900px);
  opacity: 0.7;
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}


.input-wrapper, .input-text{
    width: 100%;
  }


.input-text{
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #EEE;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  transition: all 0.2s ease;
  background: #E5F3FE;
}

input, .input-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0.5rem 0rem;
  width: auto;
  font-family: 'Raleway';
  font-size: 16px;
}

textarea, .input-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  width: auto;
  font-family: 'Raleway';
  font-size: 16px;
}

.input-error {
  border-color: red; /* Customize the border color for the error state */
}

.error-message {
  color: rgb(58, 10, 20);
  font-size: 16px;
  font-style: italic;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  background-color: rgb(255, 204, 204);
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.error-message::before {
  content: "\f06a";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
}
 /*
 .onboarding-page, .onboarding-page2, .onboarding-page3 {
  width: 450px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  padding: 18px;
  z-index: 10;
  position: relative;
  bottom: -100px;
  align-items: center;
  left: 450px;
}
*/

/* Add image css */

.drag-area{
  user-select: none;
  -webkit-user-select: none;
 
}
.container-image-upload{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 10px;
}
.thumbnail-upload{
  width: 75px;
  margin-right: 5px;
  height: 75px;
  position: relative;
  margin-bottom: 8px;
}
.thumbnail-upload img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.thumbnail-upload span{
  position: absolute;
  top: -2px;
  right: 9px;
  font-size: 20px;
  cursor: pointer;
}


/* file -selector - button */
input::file-selector-button {
  margin: 20px 20px;
  background-image: linear-gradient(
    to right,
    #effd70,
    rgb(254, 57, 175),
    #443197 100%,
    #315897 200%
  );
  font-family: 'Gotham Black';
  text-transform: uppercase;
  background-position-x: 0%;
  background-size: 200%;
  border: 0;
  border-radius: 8px;
  color: #fff;
  padding: 0.50rem 0.50rem;
  text-shadow: 0 1px 1px #000;
  transition: all 0.25s;
}
input::file-selector-button:hover {
  background-position-x: 100%;
  transform: scale(1.1);
  cursor: pointer;
}

.delete{
  z-index: 999;
  color: #fff;
}
.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #007bff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*--Profile Page Vanilla CSS */
.profile-info {
  width: 200px;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  padding: 25px;
}

.profile-info-img {
  /* background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100px;
  display: flex;
  align-content: centre;
  flex-wrap: wrap;
  width: 150px;
 height: 150px; */
 -webkit-box-shadow: -10px -10px 28px 0px rgba(255,255,255,0.8);
 -moz-box-shadow: -10px -10px 28px 0px rgba(255,255,255,0.8);
 box-shadow: -10px -10px 28px 0px rgba(255,255,255,0.8);
}
.profile-info-about {
  padding: 10px 20px;
  text-align: center;
}
.username-name {
  font-family: "blowbrush", sans-serif;
  color: #000;
}
.profile-content{
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
}
.profile-intro {
  width: calc(100% - 20px);
  margin-left: 20px;
  padding-bottom: 20px;
  border-radius: 10px 10px 10px 10px;
}
.highlight{
  background-image: url('img/artworks/default.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100px;
  display: flex;
  align-content: centre;
  flex-wrap: wrap;
  width: 50px;
 height: 50px;
 -webkit-box-shadow: -10px -10px 28px 0px rgba(255,255,255,0.8);
 -moz-box-shadow: -10px -10px 28px 0px rgba(255,255,255,0.8);
 box-shadow: -10px -10px 28px 0px rgba(255,255,255,0.8);
}
/* test image upload containe - delete when finish */ 
.test-image-container{
width: 100%;
height: auto;
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-wrap: wrap;
max-height: 200px;
overflow-y: auto;
margin-top: 10px;
}
.image{
width: 75px;
margin-right: 5px;
height: 75px;
position: relative;
margin-bottom: 8px;
}
.image img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.image span{
  position: absolute;
  top: -2px;
  right: 9px;
  font-size: 20px;
  cursor: pointer;
}

/* Admin Dashboard CSS */

.gradient-bkg-overall{
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #8921ff 33%, #3506a8 66%, #02f9f7 100%);
     background-repeat: no-repeat;
     background-size: cover;
     align-items: center;
     justify-content: center;
  margin: 0;
}
.cell {
  display: inline-block;
  width: 49%;
  text-align: center;
}

.circle {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(237, 41, 182, 0.671);
  box-shadow: 4px -40px 60px 5px rgb(40, 37, 203) inset;
}

.rotate-in-up-left {
  animation: rotate-in-up-left 2s ease infinite;
}

@keyframes rotate-in-up-left {
  0% {
    transform-origin: left bottom;
    transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }
}

.form-container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
}

/* Custom Scrollbar Styles */
/* Track */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #807c7c;
  border-radius: 6px;
  display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #302f2f;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-bottom: 5px;
}

.dot {
  height: 12px;
  width: 12px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #fff;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #4b79e4;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #2584f8;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}